{% extends "base.html" %} {% block content %}
<div class="container">
	<div class="w-50 m-auto">
		<h4 class="mb-3">Add New Patient</h4>
		<form method="POST">
			<label for="name" class="form-label">Name</label>
			<input
				type="text"
				class="form-control mb-3"
				name="name"
				id="name"
				placeholder="Enter patient's name"
				value=""
				required=""
			/>

			<label for="address" class="form-label">Address</label>
			<textarea
				name="address"
				id="address"
				class="form-control mb-3"
				placeholder="Enter patient's address"
			></textarea>

			<label for="bloodgroup" class="form-label">Blood Group</label>
			<input
				type="text"
				class="form-control mb-3"
				name="blood_group"
				id="blood_group"
				placeholder="Enter patient's blood group"
				value=""
				required=""
			/>

			<button class="w-100 btn btn-primary btn-lg mt-4" type="submit">
				Add Patient
			</button>
		</form>
	</div>
</div>
{% endblock %}
